# Experiments [1.1.1] [1.1.2] - Rationales Frequencies

In [7]:
def param_default():
    return {
        'model': 'codeparrot',
        'dataset' : 'DC_SG_BD', #### CHANGE
        'modality' : 'nl_sc',
        'datasets' : {
            'SG_BD' : 'code_completion_random_cut_5k_30_512_tokens', 
            'DC_SG_BD' : 'code_completion_docstring_random_cut_3.8k_30_150_tokens', 
            'DC_SG' : 'code_completion_docstring_signature_3.8k_30_150_tokens', 
            'DC': 'code_completion_docstring_5k_30_150_tokens'
        },
        'num_experiments' : 30, 
        'bootstrapping_size': 500,
        ######## INPUT 
        'global_taxonomy_results': '/workspaces/code-rationales/data/global_taxonomy_results/gpt',
        'grouping_results': '/workspaces/code-rationales/data/experiments/grouping_results', 
        ######## OUTPUT
        'quantitative_results' : '/workspaces/code-rationales/data/experiments/quantitative_results',
    }
    
params = param_default()

## Source Code

In [8]:
import json
import pandas as pd
import numpy as np
import math
from statistics import NormalDist

import seaborn as sns; sns.set_theme()
import matplotlib.pyplot as plt
from matplotlib.colors import LinearSegmentedColormap

pd.options.display.float_format = '{:.2f}'.format

In [9]:
from code_rationales.taxonomies import *
import os.path

### Frequency Dataframes

In [10]:
def flat_global_results(experiment_global_result: dict):
    flatten_results = { key: [] for key in experiment_global_result.keys() } ## There are 31 fixed categories
    for target_key, rationales in experiment_global_result.items():
        for rational_key, rational_values in rationales.items():
            flatten_results[rational_key] += rational_values
    return flatten_results

In [11]:
def create_frequencies_dataframe(experients_global_results: list):
    frequencies_df = pd.DataFrame(columns=experients_global_results[0].keys())
    for experiment_global_result in experients_global_results:
        rationales_results = flat_global_results(experiment_global_result)
        frequencies_df = frequencies_df.append({key: len(value) for key, value in rationales_results.items()}, ignore_index=True)
    frequencies_df = frequencies_df.fillna(0)   
    return frequencies_df

### Groupings

In [12]:
get_experiment_path =  lambda results_folder, dataset, exp: results_folder + '/' + dataset + '_exp_' + str(exp) +'.txt'

In [13]:
def store_groupings(global_results: list, path:str):
    with open(path, 'w') as output_file: 
        json.dump(global_results, output_file)

In [14]:
def open_groupings(path:str):
    with open(path, 'r') as output_file:
        data = json.load(output_file)
    return data

In [15]:
def get_experiments_results(results_folder, name:str):
    file_path = params['grouping_results'] + '/' + params['model'] + '/' + params['modality'] + '/' + params['datasets'][params['dataset']] + '_' + name + '.json'
    if os.path.isfile(file_path):
        return open_groupings(file_path)
    experiment_paths = [get_experiment_path(results_folder, params['datasets'][params['dataset']], exp) for exp in range(params['num_experiments'])]
    experiment_global_results = []
    for experiment_path in experiment_paths:
        with open(experiment_path, 'r') as file:
            experiment_global_results.append(json.loads(file.read()))
    store_groupings(experiment_global_results, file_path)
    return experiment_global_results

### Statistics

In [16]:
def bootstrapping( np_data, np_func, size ):
    """Create a bootstrap sample given data and a function
    For instance, a bootstrap sample of means, or mediands. 
    The bootstrap replicates are a long as the original size
    we can choose any observation more than once (resampling with replacement:np.random.choice)
    """
    
    #Cleaning NaNs
    #np_data_clean = np_data[ np.logical_not( np.isnan(np_data) ) ] 
    
    #The size of the bootstrap replicate is as big as size
    #Creating the boostrap replicates as long as the orignal data size
    #This strategy might work as imputation 
    bootstrap_repl = [ np_func( np.random.choice( np_data, size=len(np_data) ) ) for i in range( size ) ]
    
    #logging.info("Covariate: " + cov) #Empirical Mean
    #logging.info("Empirical Mean: " + str(np.mean(np_data_clean))) #Empirical Mean
    #logging.info("Bootstrapped Mean: " + str( np.mean(bootstrap_repl) ) ) #Bootstrapped Mean
    
    return np.array( bootstrap_repl )

In [17]:
def confidence_intervals_large_samples(data, confidence=0.95):
    """
    @confidence: confidence interval 
    @return: tuple (lowerbound, uperbound, h-value)
    """
    dist = NormalDist.from_samples( data )
    z = NormalDist().inv_cdf((1 + confidence) / 2.)
    h = dist.stdev * z / ((len(data) - 1) ** .5)
    return dist.mean - h, dist.mean + h, h

In [18]:
def boostrap_dictionary(dictionary: dict, size):
    boostrapped_dict = {}
    for key, values in dictionary.items():
        if values:
            boostrapped_dict[key] = bootstrapping(values, np.mean, size)
    return boostrapped_dict

### Calculate statistics and get results DF

In [19]:
### CREATE GROUP FREQUENCY RESULTS
def calculate_results(global_dataframe):
    results_df = pd.DataFrame(columns=['type', 'group', 'category', 'mean', 'median', 'std', 'ci'])
    for category in global_dataframe.columns:
        experiments_values = global_dataframe[category].tolist()
        try:
            group = [key for key, value in global_groups().items() if category in value][0] ## Mapping from taxonomy groups
        except Exception as e:
            print(e)
        results_df = results_df.append({
            'type': group.split('_')[0], 
            'group': group, 
            'category': category, 
            'median' : np.median(experiments_values),
            'mean' : np.mean(experiments_values), 
            'std' : np.std(experiments_values),
            'ci' : confidence_intervals_large_samples(experiments_values)
        }, ignore_index=True)
    return results_df.sort_values(by='median', ascending=False).reset_index(drop=True)

In [20]:
experiments_global_results = get_experiments_results(params['global_taxonomy_results'], 'level_1')

In [21]:
global_frequencies_dataframe = create_frequencies_dataframe(experiments_global_results)
global_frequencies_dataframe

,punctuation,exceptions,oop,asserts,types,conditionals,loops,operators,indentation,bool,...,nl_pronoun,nl_adverb,nl_adjetive,nl_determiner,nl_preposition,nl_particle,nl_modal,nl_conjunction,nl_cardinal,nl_other
0,209452,7170,17089,1177,102664,5391,1879,35850,396367,1318,...,3801,11351,37943,50423,55014,131,3687,17943,3635,40246
1,206115,8280,16253,1212,95027,5004,2283,36222,378368,1872,...,3411,9100,38739,48037,52688,238,2341,17405,4309,39219
2,184980,9635,15828,943,79684,4176,2055,36601,360604,1676,...,2930,8604,37666,44851,50595,222,2995,16355,4674,36009
3,207147,7252,15944,1130,107351,4880,1993,55701,384061,2006,...,3540,10140,38649,46920,53059,109,2489,17487,2728,39296
4,194851,7963,15591,1023,80358,5453,1546,35526,379020,1714,...,3703,10971,37395,46356,53443,117,2963,16762,4006,37602
5,182024,9111,16365,846,86323,4658,1711,33074,338639,1764,...,2535,9637,34614,42837,47644,157,2597,15988,4138,37202
6,196255,4999,16342,1196,108108,6324,2022,38731,376384,2284,...,3034,9927,36926,47772,52782,169,3338,16498,4307,38501
7,195056,9975,16312,1026,106810,4958,2263,35877,373581,1420,...,3216,10264,37838,44176,50512,182,3011,16445,3288,40320
8,195438,9418,16326,706,97171,5323,1982,34220,391631,2101,...,4063,10749,39992,50387,54091,426,2936,18159,5094,40586
9,185253,9744,15119,1255,105581,5271,1387,33158,332217,2314,...,3480,10260,36881,41676,49381,189,2400,15763,3952,38291
10,199665,14625,15785,1417,127021,5678,1802,37783,377526,2270,...,3255,10170,40059,45343,51268,232,2795,16868,2633,38962
11,192368,8389,16453,919,93141,5329,2229,40256,371862,2082,...,3403,9497,37932,48519,51264,366,2614,16900,4677,37159
12,192390,8661,15387,1208,89949,4907,2139,35752,360338,1957,...,2618,9406,35414,45538,49774,196,2827,15841,4152,39518
13,191500,6950,15955,1165,88418,4894,2315,37684,378610,1561,...,3081,9819,38526,46849,50232,95,3273,17261,3939,43012
14,186744,9540,16009,1202,93153,5743,1667,35266,356485,2162,...,3450,9997,36565,44183,50110,171,2623,15958,4644,38397
15,185272,10466,15571,1080,83657,5356,2202,35327,355980,2010,...,2978,9618,36816,42698,50500,115,2958,16114,3458,39504
16,217013,10191,17138,1687,90772,6685,2014,68887,383671,1853,...,2738,10293,38646,46968,54021,201,2517,17037,3793,39412
17,193586,7100,15272,1046,128003,5574,1536,34627,325685,1785,...,2883,7957,35638,42124,46494,115,2674,16138,4080,40340
18,196063,10435,15363,993,98861,5763,2657,42529,365711,1876,...,3440,8732,36670,45087,51128,188,2587,17154,3168,38369
19,189448,6543,15900,1276,99282,5033,1774,35269,366097,1807,...,3140,9162,37276,47406,52045,186,3114,16039,5511,40516
20,194609,7099,16432,921,98141,5196,2340,62355,349469,1865,...,2816,9478,35051,45351,48200,179,2405,16031,4066,36224
21,194084,10779,15528,1295,95530,5154,2173,36053,384327,2499,...,3219,10340,35200,48318,51324,195,3202,17346,4612,38762
22,194613,6722,15596,1066,80998,5246,2232,39079,378336,1710,...,3355,11426,36532,47141,52400,110,3123,16807,4216,37766
23,209860,8639,16757,1445,100213,5443,2371,82510,404928,1894,...,3102,10879,38412,48616,56451,463,3272,16804,4138,42216
24,184870,12670,15791,936,98057,5344,1915,33368,378164,2010,...,4161,11286,35855,48458,50048,255,3202,16261,4303,37454
25,183286,7820,15739,1683,101353,5172,1688,33407,375886,1842,...,3540,8938,35175,43687,50694,241,2648,15936,4176,36858
26,185885,4880,16553,1242,91531,4963,1769,33400,361123,2125,...,3397,9135,37223,44823,50205,241,2981,16230,3919,36246
27,211254,9550,16647,873,114013,5512,2482,77527,410003,2134,...,3507,10280,42853,49472,56226,105,3493,17113,4363,40488
28,189604,9760,16129,1142,89364,6275,2234,39493,363450,1923,...,3363,10844,35180,44244,49125,210,3092,16400,3916,38127
29,190616,5481,16362,1333,103343,4558,1797,34416,377755,1627,...,3108,9033,37441,44232,54238,258,2905,16642,4221,41268

In [22]:
global_frequencies_dataframe_results = calculate_results(global_frequencies_dataframe).sort_values(by=['group','mean'],ascending=[True, False])
global_frequencies_dataframe_results

,type,group,category,mean,median,std,ci
1,excluded,excluded,excluded,685630.27,682215.00,29573.52,"(674682.7959218231, 696577.7374115103, 10947.4..."
12,nl,nl_not_semantic,nl_preposition,51498.53,51196.00,2345.96,"(50630.10947981685, 52366.95718684982, 868.423..."
14,nl,nl_not_semantic,nl_determiner,46083.07,45947.00,2351.46,"(45212.60871391496, 46953.52461941837, 870.457..."
20,nl,nl_not_semantic,nl_conjunction,16656.17,16570.00,621.34,"(16426.161991183068, 16886.171342150268, 230.0..."
22,nl,nl_not_semantic,nl_adverb,9909.77,9962.00,855.78,"(9592.976337425343, 10226.55699590799, 316.790..."
25,nl,nl_not_semantic,nl_cardinal,4070.53,4138.00,600.55,"(3848.2242076692723, 4292.842458997395, 222.30..."
28,nl,nl_not_semantic,nl_modal,2902.07,2947.00,336.35,"(2777.5569294813818, 3026.5764038519515, 124.5..."
33,nl,nl_not_semantic,nl_particle,202.07,188.50,87.16,"(169.8005350843069, 234.33279824902644, 32.266..."
3,nl,nl_semantic,nl_noun,403578.70,402929.00,15210.07,"(397948.26374435826, 409209.13625564176, 5630...."
13,nl,nl_semantic,nl_verb,49245.57,48836.00,2225.11,"(48421.87964418512, 50069.25368914821, 823.687..."
16,nl,nl_semantic,nl_adjetive,37303.57,37249.50,1747.23,"(36656.780164181524, 37950.35316915181, 646.78..."
27,nl,nl_semantic,nl_pronoun,3275.57,3305.00,376.02,"(3136.370818767803, 3414.76251456553, 139.1958..."
8,sc,sc_errors,errors,235700.40,236038.00,30143.65,"(224541.8822921495, 246858.9177078505, 11158.5..."
6,sc,sc_nl,identifier,299716.80,299501.50,15115.22,"(294121.476422085, 305312.12357791496, 5595.32..."
11,sc,sc_nl,string,68022.17,68072.50,5351.00,"(66041.34416995071, 70002.98916338263, 1980.82..."
19,sc,sc_nl,comment,26780.07,25234.50,4913.15,"(24961.324746927618, 28598.808586405714, 1818...."
5,sc,sc_not_semantic,expression,376095.20,352994.00,71779.29,"(349524.08000146545, 402666.3199985346, 26571...."
4,sc,sc_not_semantic,indentation,371209.27,376135.00,18807.84,"(364247.01519531064, 378171.5181380227, 6962.2..."
9,sc,sc_not_semantic,punctuation,194643.37,193835.00,8996.65,"(191313.00326171782, 197973.73007161552, 3330...."
17,sc,sc_not_semantic,operators,41664.93,35965.00,13206.02,"(36776.3538524485, 46553.51281421817, 4888.579..."
26,sc,sc_not_semantic,return,3706.67,3623.50,405.85,"(3556.4304631039668, 3856.9028702293663, 150.2..."
29,sc,sc_not_semantic,functional,2761.13,2602.00,1366.61,"(2255.244211604722, 3267.0224550619446, 505.88..."
0,sc,sc_semantic,structural,1317014.77,1307947.50,70971.79,"(1290742.5626466598, 1343286.9706866734, 26272..."
2,sc,sc_semantic,statements,520589.30,517298.00,29051.64,"(509835.01940197503, 531343.5805980249, 10754...."
10,sc,sc_semantic,types,97795.90,97614.00,11629.00,"(93491.09961350003, 102100.70038649996, 4304.8..."
18,sc,sc_semantic,with,36635.60,35225.50,10083.27,"(32902.993857830836, 40368.20614216916, 3732.6..."
21,sc,sc_semantic,oop,16051.20,15982.00,509.41,"(15862.627255523004, 16239.772744476997, 188.5..."
23,sc,sc_semantic,exceptions,8661.57,8650.00,2095.70,"(7885.78494728142, 9437.348386051915, 775.7817..."
24,sc,sc_semantic,conditionals,5308.77,5297.00,510.25,"(5119.882427372841, 5497.650905960491, 188.884..."
30,sc,sc_semantic,loops,2015.23,2018.00,300.53,"(1903.9838953323767, 2126.48277133429, 111.249..."
31,sc,sc_semantic,bool,1915.37,1885.00,259.63,"(1819.2570688412688, 2011.4762644920643, 96.10..."
32,sc,sc_semantic,asserts,1148.10,1153.50,221.63,"(1066.056119825799, 1230.1438801742008, 82.043..."
7,unknown,unknown,unknown,286934.70,284998.00,25020.47,"(277672.6714945093, 296196.7285054907, 9262.02..."
15,unknown,unknown,nl_other,38929.00,38862.00,1712.94,"(38294.90557635623, 39563.09442364377, 634.094..."

In [ ]:
global_frequencies_dataframe_results.to_csv(params['quantitative_results'] + '/' + params['model'] + '/' + params['modality']  + '/' + params['datasets'][params['dataset']] + '_frequencies' + '.csv', index=False)